# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, e.g. out of `go test -coverprofile=coverage.out`
*.out
*.coverprofile
profile.cov

# Dependency directories
# (Only ignore vendor/ if you are NOT vendoring your dependencies)
# vendor/

# Go workspace file
go.work
go.work.sum

# Environment files
.env

# Common IDE/Editor files
.idea/
.vscode/
*.swp
*.swo
